@{
    ViewBag.Title = "Contato";
}


<div class="jumbotron">
    <h2>Meus Contatos</h2>
    
   
</div>

<div class="row">
    <h2>Meu GitHub</h2>
    <p>
        Para entrar no meu GitHub, basta clicar no botão.
    </p>
    <p><a href="https://github.com/BlackCrisper" class="btn btn-primary btn-lg">Entrar &raquo;</a></p>
</div>

<div class="row">
    <h2>Meu Linkedin</h2>
    <p>
        Para entrar no meu Linkedin, basta clicar no botão.
    </p>
    <p><a href="https://www.linkedin.com/public-profile/settings" class="btn btn-primary btn-lg">Entrar &raquo;</a></p>
</div>