@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Almoxarifado</h1>
    <p class="lead">Para entrar, basta clicar no botão.</p>
    <p><a href="/home/projetos" class="btn btn-primary btn-lg">Entrar &raquo;</a></p>
</div>



