
@{
    ViewBag.Title = "Projetos";
}


<div>
    <h1>Produto</h1>
    <p class="lead">Para entrar, basta clicar no botão.</p>
    <p><a href="/produto/index" class="btn btn-primary btn-lg">Entrar &raquo;</a></p>
</div>
<br />
<div>
    <h1>Area</h1>
    <p class="lead">Para entrar, basta clicar no botão.</p>
    <p><a href="/area/index" class="btn btn-primary btn-lg">Entrar &raquo;</a></p>
</div>
<br />
<div>
    <h1>Colaborador</h1>
    <p class="lead">Para entrar, basta clicar no botão.</p>
    <p><a href="/colaborador/index" class="btn btn-primary btn-lg">Entrar &raquo;</a></p>
</div>
<br />
<br />
<p><a href="/home/index" class="btn btn-primary">Voltar &raquo;</a></p>